@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.Signup_div{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Signup_backbox{
    text-align: center;
    padding: 40px;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 20px;
    width: 60%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.715);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.Signup_text{
    background: #AB3DCC;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #AB3DCC 11%, #1298FF 40%, #A50BD4 96%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #AB3DCC 11%, #1298FF 40%, #A50BD4 96%);
    background: radial-gradient(circle farthest-corner at center center, #AB3DCC 11%, #1298FF 40%, #A50BD4 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-size: 50px;
    font-family: 'Dancing Script';
}

.Signup_components{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.title{
    margin-left: 10px;
    margin-top: 15px;
}

.title_input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.title_input:focus{
    border: solid rgba(80, 202, 250, 0.352) 2px;
}

.link{
    margin-top: 15px;
    margin-left: 10px;
}

.link > a{
    cursor: pointer;
    text-decoration: none;
    color: rgba(21, 183, 227, 0.975);
}

.Sign_up_button{
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
    margin-top: 30px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
  }

  .Sign_up_button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .error_pass{
    color: rgba(255, 0, 0, 0.76);
    margin-top: 15px;
    margin-left: 10px;
  }